{% extends 'base.html' %}

{% block title %}
    {{menuitem.name}}
{% endblock %}

{% block content %}
<div class="menu-item-detail">
{% if menuitem.image %}
    <img src="{{menuitem.image.url}}" alt="{{menuitem.name}}" class="menu-item-detail-image">
{% endif %}
<div class="menu-item-detail-info">
    <h2>{{menuitem.name}}</h2>
    <p>${{menuitem.price}}</p>
    <p>{{menuitem.description}}</p>
    <h3><a href="{% url 'category_detail' menuitem.category.pk %}" >{{menuitem.category}}</a></h3>  


    {% if request.user.role == 1 or request.user.role == 6 %}
    <div class="menu-item-detail-actions">  
    <a href="{% url 'menu_item_edit' menuitem.pk %}">Edit</a>
    
    <form action="{% url 'menu_item_confirm_delete' menuitem.pk%}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</div>
{% endif %}
</div>
</div>

{% endblock %}