{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %} Edit Table {% else %} Add New Table {% endif %}
{% endblock%}

{% block content %}
<h1>{% if form.instance.pk %} Edit Table {% else %} Add New Table {% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
</form>
{# accesses the restaurant pk through the table's restaurant relationship. #}
<a href="{% url 'table_list'  restaurant_pk=table.restaurant.pk%}">Cancel</a>
{% endblock %}